<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thenewcollege">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheNewCollege">
        <activity
            android:name=".OfficeAdminPanel"
            android:exported="false" />
        <activity
            android:name=".OfficeAdminAuth"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".exampleactivity"
            android:exported="true" />
        <activity
            android:name=".Studentauthactivity"
            android:exported="true" />
        <activity
            android:name=".masjidadminpanel_activity"
            android:exported="true" />
        <activity
            android:name=".authentication_activity"
            android:exported="true" />
        <activity
            android:name=".StudentRegistration"
            android:exported="true" />
        <activity
            android:name=".launcherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>